<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Present & Future of AI</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="image/agratas-main-logo1.png" alt="Agratas Logo">
      </div>
      <ul class="nav-links" id="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Get Started</a></li>
      </ul>
      <div class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </header>
  <!--------------------------------Main Section------------------------------------->
  <section class="main">
    <div class="content">
      <h1 class="main-heading">Present of Machine <br>Learning in AI</h1>
      <p class="main-paragraph">The Contribution of an Ideal <br>Company in the Field of<br>Machine Learning </p>
      
      <div class="author-info">
        <img src="./image/Akash.jpg" alt="Author">
        <span class="name">By Mohak Verma</span>
        <span class="date">September 10, 2024</span>
      </div>
      <div class="tags">
        <button>Scope</button>
        <button>Guidelines</button>
        <button>Potential</button>
      </div>
    </div>
    <div class="image">
      <img src="./image/Main-image-removebg-preview.png" alt="AI Illustration">
    </div>
  </section>
  <div class="dotted-line"></div>
  <!----------------------------Description Section-------------------------------------->

  <section class="ML-section1">
    <!-- What is Machine Learning?-->
    <div class="ML-container1 shape-future">
      <div class="ML-image1">
        <img src="./image/Digital-Marketing-certification-Acquisition-International.jpg" alt="Shape Future of ML" class="responsive-img1">
      </div>
      <div class="ML-content1">
        <h2 class="ML-heading1">What is Machine Learning?</h2>
        <p class="ML-paragraph1">
          Machine Learning (ML) is a subset of Artificial<br>
          Intelligence (AI) that focuses on developing algorithms<br>
          and statistical models that enable computers to learn<br>
          from data and make decisions or predictions without<br>
          being explicitly programmed.<br>
          In essence.machine learning learning allows systems to improve<br>
          their performance over time by Identifying patterns in<br> 
          data and adapting their behavoir accordingly.
        </p>
      </div>
    </div>
  </section>
  <div class="dotted-line"></div>
  <!-- Key Features of Machine -->
  <section class="ML-section2">
    <div class="ML-container2 forefront-ai">
      <div class="ML-content2">
        <h2 class="ML-heading2">Key Features of Machine<br> Learning</h2>
        <div class="ML-paragraph2">
          <ul>
          <li><u><strong>Data-Driven:</strong>ML relies on large datasets to train <br>models,Identify patterns,and generate<br> insights.<br></u></li>
          <li><u><strong>Continuous Learning:</strong>System improve over<br> time as they are exposed to more data.<br></u></li>
          <li><u>Automation ML enables automation of tasks<br> such as classification,prediction,and <br>optimization.<br></u></li>
          <li><u><strong>Adaptability:</strong> ML system can adjust to changes<br> in data patterns or trends.</u></li>
          </ul>
      </div>
      </div>
      <div class="ML-image2">
        <img src="./image/types-of-machine-learning.jpg" alt="Key Features of Machine" class="responsive-img2">
      </div>
    </div>
  </section>
  <div class="dotted-line"></div>
   <!--------------------- Types of Machine Learning------------>
  <section class="ML-section1">
    <div class="ML-container1 shape-future">
      <div class="ML-image1">
        <img src="./image/images (4).jpg" alt="Types of Machine Learning" class="responsive-img1">
      </div>
      <div class="ML-content1">
        <h2 class="ML-heading1">Types of Machine Learning</h2>
        <div class="ML-paragraph1">
          <ol class="Types">
            <li class="ML_sub_Heading">
          <h3>Supervised Learning</h3>
          <ul class="disc">
          <li>The model is trained on labeled data, where the<br> input-output relationship is already known.<br></li>
          <li><strong>Techniques:</strong>Regression,<br>Classification<br></li>
        </ul>
      </li>
      <li class="ML_sub_Heading">
          <h3>Unsupervised Learning</h3>
          <ul class="disc">
          <li>The model is trained on unlabeled data,<br>discovering hidden patterns or structures in the <br>data.</li>
          </ul>
        </li>
        <li class="ML_sub_Heading">
          <h3>Semi-Supervised Learning</h3> 
          <ul class="disc">
          <li>Combines a small amount of labeled data with a<br> larger pool of unlabeledd data.</li>
        </ul>
      </li>
      <li class="ML_sub_Heading">
          <h3>Reinforcement Learning</h3>
          <ul class="disc">
          <li>The model learns through trial and error by<br> receiving rewards or penalties based on its<br> actions.</li>
        </ul>
        </li
</ol>
        </div>
      </div>
    </div>
  </section>

  <div class="dotted-line"></div>
<!-------------------------- Common Machine Learning ----------------------------->
  <section class="ML-section2">
    <div class="ML-container2 forefront-ai">
      <div class="ML-content2">
        <h2 class="ML-heading2">Common Machine Learning<br>Techniques</h2>
        <div class="ML-paragraph2">
          <b><strong>Regression:</strong></b>Predicting Continuous value (e.g.. stock<br> prices ).<br>
          <b><strong>Classification:</strong></b>Categorizing data into predefined labels<br> (e.g.. spam or not spam).<br>
          <b><strong>Dimensionality Reduction:</strong></b>Reducing the number of<br> variables while retaining important information(e.g..<br> PCA)<br>
          <b><strong>Ntural Networks:</strong></b> Mimicking the human brain to solve <br>complex problems.<br>
          <b><strong>Natural Language processing (NLP):</strong></b> Understanding and <br>generating human language language (e.g..chatbots,sentiment<br> analysis).
        </div>
      </div>
      <div class="ML-image2">
        <img src="./image/Screenshot 2024-12-16 103429.png" alt="Common Machine Learning" class="responsive-img2">
      </div>
    </div>
  </section>
</section>
<div class="dotted-line"></div>
 <!--------------------- Benfits of machine Learning-------------------->
<section class="ML-section1">
 
  <div class="ML-container1 shape-future">
    <div class="ML-image1">
      <img src="./image/benefits-machine-learning.jpg" alt="Shape Future of AI" class="responsive-img1">       <!---AI_power.png--->
    </div>
    <div class="ML-content1">
      <h2 class="ML-heading1">Benfits of machine Learning</h2>
      <div class="ML-paragraph1">
        <ol>
        <li><strong>Automation:</strong>Reduces human effort in repetitive and<br> time-consuming tasks.<br></li>
        <li><strong>Efficiency: </strong>Processes large datasets quickly and <br>accurately.</li>
        <li><strong>Personalization:</strong>delivers tailored recommendations<br> and user experiences.</li>
        <li><strong>Scalability:</strong>Handies increasing volumes of data <br>effectively.</li>
        <li><strong>Adaptation:</strong>Learns and adapts to new patterns and<br> enviroments.</li>
      </ol>
      </div>
    </div>
  </div>
</section>


<div class="dotted-line"></div>
  <!-----------------------------------Challenges of Machine--------------------->
  <section class="ML-section2">
    <div class="ML-container2 forefront-ai">
      <div class="ML-content2">
        <h2 class="ML-heading2">Challenges of Machine<br>Learning</h2>
        <div class="ML-paragraph2">
          <ul>
          <li><u><strong>Data Dependency:</strong>Requires large and high-<br>quality databases.</u></li>
          <li><u><strong>Complexity:</strong>Developing models can be<br> resource-intensive and technically challenging<br></u></li>
          <li><u><strong>Bias and Fairness:</strong>Models can inherit biases<br> present in the training data</u></li>
          <li><u><strong>Interpretability:</strong>Some ML models,like deep<br> learning.can be difficult to interpret.</u></li>
        </ul>
        </div>
      </div>
      <div class="ML-image2">
        <img src="./image/blg_meta_challenges_applying_machine_learning_models.png" alt="Challenges of Machine" class="responsive-img2">  <!--AI_Eye.jpg-->
      </div>
    </div>
  </section>
  <script src="script.js"></script>
</body>
</html>